* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left-side {
    display: flex;
    height: 100vh;
    width: 50vw;
}

.left-side img {
    display: flex;
    height: 100vh;
    width: 50vw;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    width: 50vw;
}

.card-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    width: 100%;
}

legend {
    color: #4ab354;
    text-transform: uppercase;
}

.inputs-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.inputs-area input {
    border: none;
    border: 1px solid grey;
    border-radius: 8px;
    outline: none;
    padding: 8px;
    width: 60%;
}

button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 8px;
    text-transform: uppercase;
    width: 80%;
}

button:hover, input:focus {
    box-shadow: 2px 2px 2px 2px #cccc;
    outline: none;
}

.login {
    background-color: #4ab354;
    color: #fff;
}

.register {
    background-color: #fff;
    border: 1px solid #4ab354;
    color: #4ab354;
}